# Secrets used to create the GKE Secret
SESSION_SECRET=change-me
POSTGRES_PASSWORD=helpudoc
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
GEMINI_API_KEY=AIzaSyAgGnY00Qqb0RDCZdYO_8pPeXLJhgmtr9M
RAG_LLM_API_KEY=AIzaSyAgGnY00Qqb0RDCZdYO_8pPeXLJhgmtr9M
