# Secrets used to create the GKE Secret
SESSION_SECRET=change-me
POSTGRES_PASSWORD=helpudoc
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
RAG_LLM_API_KEY=YOUR_GEMINI_API_KEY
